#title{
  background-color: #ff4c68;
  color:#fff;
}
.maintitle{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding:3% 15%;
}

.dog{
  transform:rotate(25deg);
  width:60%;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-brand{
  font-family: ubuntu;
  font-size:2.5rem;
  font-weight:bold;

}
.nav-item{
  padding:0 12px;
  font-weight: lighter;
}
.downbutton{
  margin:3% 5% 3% 0;

}


/*features section*/

#features{
  text-align: center;
  padding:7% 15% 0;
  background-color: white;
  position:relative;
  bottom:200px;
  z-index: 1;



}
.icon{
  color:#ef8172;


}
.icon:hover{
  color:#ff4368;
}
.des{
  font-size: 1.5rem;
  font-family: Montserrat-Black;
}
#features p{
  color:#8f8f8f;
  line-height: 1.5rem;

}
.feas{
  padding:5%;

}

/*testimonials section*/
.testimonials{
  padding:0 15% 7%;
  background-color: #ff4368;
  text-align:center;
  line-height:1.5rem;

}
h2{
  font-family: Montserrat-black;

  font-size: 3rem;

}
.testimonialimage{
  width:10%;
  border-radius: 100%;
}
.controlkey1{
  margin:20% 0 0 20%;
}
.controlkey2{
  margin:20% 20% 0 0;
}

#press{
  background-color: #ff4368;
  text-align: center;
}
.pressimg{
  width:15%;
  padding:1% 3% 3%;
}


  /*pricing*/

  #pricing{
    padding:5%;
    text-align: center;
  }
  .pricing-box{
    padding:3% 5%;
  }




@media(max-width:1080px){
  .dog{
    transform:rotate(0deg);
  }
  #features{
    position:static
  }

}

/*cta*/
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding:5% 35%;
  font-family: Montserrat-black;
}
#footer{
  background-color: #fff;
  text-align: center;
  padding:1%;
}
